html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
/* Common */
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.textWhite{
  color: white!important;
}
.textBlack{
  color: black!important;
}
.fontSize12px{
  font-size: 12px;
}
.GapsItemHomePage{
  padding: 20px 0;
}
/* Css */
.Navbox{
  position: relative;
  background-color: rgb(26, 148, 255);
}
.loginFormBox{
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.loginFormBoxOpen{
  display: flex !important;
}
.formBoxLogin{
  background-color: #ffffff;
  border-radius: 20px;
  width: 100%;
  position: relative;
  height: 70vh;
}
.inputLogin{
  width: 100%;
  margin: 20px auto;
  border: none;
  border-bottom: 1px solid #ccc;
  height: 50px; 
  font-size: 20px;
}
.submitLoginBtn{
  background-color: rgb(255, 66, 78);
  border: none;
  width: 100%;
  height: 50px;
  font-size: 20px;
  margin: 20px auto;
  border-radius: 5px;
}
.formLoginBoxDefault{
  padding: 20px 0;
}
.formLoginBoxEmail p:first-child{
  padding: 20px 0;
}
/* .formLoginBox:last-child{
  padding: 10px;
}
.formLoginBox > a {
  text-align: center;
} */
.loginByGmailText{
  width: 100%;
  height: 20px;
  background: none;
  border: none;
}
.iconLoginBox{
  padding: 10px 0;
  font-size: 60px;
}
.imgAdsLogin{
  background-color: #e5f2ff;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnCloseFormLogin{
  width: 50px;
  height: 50px;
  position: absolute;
  top: -20px;
  right: -20px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
}
.moreLoginbox{
  position: relative;
  height: 40px;
  width: 100%;
}
.moreLogin{
  position: relative;
  text-align: center;
}
.moreLogin p:first-child{
  border-top: 1px solid #ccc;
  width: 100%;
  position: absolute;
  bottom: 20px;
  opacity: 0.5;
}
.moreLogin p:last-child{
  text-align: center;
  position: absolute;
  bottom: 10px;
  background-color: #fff;
  right: 150px;
  padding: 0 20px;
}
.formloginDefaultClose{
  display: none;
}
.formLoginBoxEmailOpen{
  display: block;
}
.formLoginBoxEmailClose{
  display: none !important;
}
.formLoginByGmailBox{
  padding: 30px 40px ;
}
.formLoginByGmail button:first-child{
  border: none;
  background: none;
  font-size: 30px;
  color: #ccc;
  width: 10%;
  margin-bottom: 40px;
}
.SearchBox{
  display: flex;
  width: 100%;
}
.logo {
  font-size: 30px;
  font-family: Arial;
}
.SearchBox{
  display: block;
  padding: 0 20px;
}
.formSearch{
  height: 40px;
  display: flex;
}
.inputSeacrh{
  border: none;
  height: 100%; 
  width: 85%;
  padding: 0 10px;
  border-radius: 3px;
}
.btnSearch{
  border: none;
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(13, 92, 182);
}
.btnSearch > svg {
  font-size: 16px;
  margin: 2px;
}
.adsFormSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.loginBox {
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  position: relative;
}
.btnLoginForm{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  border: none;
  opacity: 0;

}
.iconUserAndCart {
  font-size: 40px;
  position: relative;
}
.cartTitle{
  margin-top: 22px;
}
.countProductIncart{
  position: absolute;
  background-color: yellow;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: black;
  margin: auto 0;
  display: flex;
  top: 0;
  left: 25px;
}
.resgiterSeller{
  justify-content: space-between;
  padding: 2px 6px;
  flex-direction: row;
  display: flex;
  align-items: center;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.25);
  position: relative;
  border-radius: 10px;
}
/* Footer */
.FooterItemBox > *:not(:last-child){
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
/* home Page */

.Silder01FullBox{
  background-color: white;
  height: 50px;
}
.SliderBoxItems{
  width: 100%;
  overflow: hidden;
}
.SliderBoxItems > ul {
  transition: 1s;
  padding: 10px 0;
}
.btnSlider01{
  background: none;
  border: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.Slider02{
  background-color: #f5f5fa;
}
/* slider02 */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-button-prev,
.swiper-button-next{
  color: #ccc!important;
  box-sizing: content-box;
  background-color: rgba(0, 0, 0, 0.2);
  content: 20px;
  padding: 5px;
}
.swiper-button-prev:hover,
.swiper-button-next:hover{
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff!important;
}
.swiper-button-next{
  right: 0!important;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.swiper-button-prev{
  left: 0!important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.swiper-slide img ,
.adsSlider02 > img
{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
/* end slider02 */

/* .adsSlider02{
  padding-left: 20px;
} */